body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header {
  text-transform: uppercase;
}

.box {
  border: #2c3e50 3px solid;
  border-radius: 4px;
  margin: 30px 45px;
  padding: 15px;
}

.container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button {
  background: none;
  padding: 5px 20px;
  border: #2c3e50 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  transition: 300ms;
}

.button:hover {
  background-color: green;
}

.button__sandwich {
  cursor: pointer;

  & > div {
    height: 5px;
    width: 30px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 5px;
  }
}

#one {
  margin-top: 60px;

  .square {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }

  .first {
    background: red;
  }
  
  .second {
    background: blue;
  }
}

#two {
  overflow: hidden;

  .container {
    position: relative;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .one {
    background: red;
    top: 0;
    left: 0;
    position: absolute;
  }

  .two {
    top: 0;
    left: 0;
    position: absolute;
    background: blue;
  }
}

#three {

  .text {
    .letter {
      display: inline-block;
    }
  }
}

#four {

  .loading {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background: #000;
  }
}

#five {
  
  .container {
    background: black;
  }

  svg {
    width: 100%;

    path {
      stroke: white;
    }
  }
}

#seven {

  .container {
    gap: 15px;
    position: relative;
    z-index: 1;
    height: 200px;
  }

  .button__sandwich {
    z-index: 2;
  }

  .round_collor_pallete {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 1;
    background: transparent;

    position: absolute;
    left: calc(50% - 125px);
    top: -125px;
    
    &__child {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
    }

    .one {
      background: blue;
      clip-path: polygon(50% 50%, 0% 50%, 0% 75%);
    }

    .two {
      background: green;
      clip-path: polygon(50% 50%, 0% 75%, 0% 100%);
    }

    .three {
      background: yellow;
      clip-path: polygon(50% 50%, 0% 100%, 25% 100%);
    }

    .four {
      background: red;
      clip-path: polygon(50% 50%, 25% 100%, 50% 100%);
    }

    .eraser {
      width: 50%;
      height: 50%;
      background: white;
      top: 25%;
      left: 25%;
      clip-path: polygon(51% 49%, 0% 49%, 0% 100%, 51% 100%);
    }
  }
}

// EIGTH
#eigth {

  .container {
    margin: 0 auto;
    width: 50vw;
    display: block;
  }
  
  .svg-animate {
    overflow: hidden;
    svg {
      width: 50vw;
    }
  }
}

#nine {

  .container {
    margin: 0 auto;
    width: 50vw;
    display: block;
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
  }
  
  .svg-animate {
    overflow: hidden;
    svg {
      width: 50vw;
      fill: none;
      stroke-width: 2px;
      stroke: #000;
    }
  }
}

#ten {

  .container {
    margin: 0 auto;
    width: 50vw;
    display: block;
    position: relative;
  }

  .circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -5px;
    z-index: 5;
  }
  
  & .svg-animate {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    // border: #000 1px solid;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    #path {
      width: 50vw;
      fill: none;
      stroke-width: 2px;
      stroke: #000;
      opacity: 0;
    }

    #animate {
      width: 32vw;
      top: 0px;
      left: 50px;
      z-index: 2;
    }

    #crystal {
      width: 35vw;
      top: 77px;
      left: 0px;
      z-index: 1;
    }

    #igzzy {
      width: 25vw;
      top: 140px;
      left: 200px;
      z-index: 3;
    }
  }
}

#eleven {

  position: relative;

  .container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid #aaa;
    border-radius: 4px;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    overflow: hidden;
  }

  .card {
    height: 500px;
    background-color: #aaa;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: 150ms;

    svg line {
      transition: 150ms;
    }

    &:hover {
      svg line {
        transition: 450ms;
        stroke: #000;
      }
    }
  }

  .arrow-right {
    transform: rotate(180deg);
    left: 80%;
  }

  .arrow-left {
    left: 18%;
  }
}

#twelve {

  .text {
    .letter {
      display: inline-block;
    }
  }
}